<ul>
    #{if navItem != null}

        #{if navItem.parent == null && !alreadyPassed}
        %{alreadyPassed = true}%
        <li id="cms_nav${navItem.id}">
            <a href="#" #{if navItem == openedNavItem}class="firstopened"#{/if}>${navItem.name} [${navItem.id}]</a>
            #{include '/cms/arbo.html'/}
        </li>
        #{/if}
        #{else}
            #{list items : navItem.children, as : 'item'}
            #{if item.navigationPlugin == null}
            <li id="cms_nav${item.id}" #{if item == openedNavItem}class="firstopened"#{/if}>
                <a href="#">${item.name} [${navItem.id}] ${item.id} -> ${item.parent?.id}</a>
                
                #{if item.children}
                    %{navItem = item}%
                    #{include '/cms/arbo.html'/}
                #{/if}
            </li>
            #{/if}
            #{/list}
        #{/else}
    #{/if}
    #{else}
        <li id="cms_nav0">
            <a href="#" class="firstopened"></a>
        </li>
    #{/else}
</ul>